@media screen and (max-width: 820px) {
  body {
    width: 100%;
  }

  .main {
    margin-top: 60px;
  }

  .content-frame {
    width: 350px;
    margin: 20px 0px;
  }
  .index_head_title {
    width: 300px;
    height: 60px;
  }
  .index_head_title_name {
    font-size: 20px;
    margin: 0px 10px;
  }

  .index_head_title i {
    font-size: 20px;
  }
  .index_head_title_you {
    font-size: 20px;
    font-weight: 700;
    top: -10px;
  }
  .index_head_sub {
    font-size: 18px;
  }

  .index_head_icon {
    font-size: 18px;
  }

  .index_head_img .bookcover {
    margin: 20px 0px;
    height: 300px;
  }
  .footer-left {
    width: 350px;
    display: flex;
  }
  .footer_title_list,
  .footer_content_list {
    font-size: 12px;
  }
  .main_title {
    font-size: 40px;
  }

  .main_sub-title {
    font-size: 13px;
  }
  .nav-bar,
  .nav-bar1,
  .nav-bar2,
  .nav-bar3 {
    margin-top: 30px;
    width: 300px;
  }
  .nav-bar .list,
  .nav-bar1 .list,
  .nav-bar2 .list,
  .nav-bar3 .list {
    font-size: 15px;
  }

  .intro_author_img {
    display: none;
  }

  .intro_author_content h3 {
    font-size: 20px;
  }

  .intro_author_content span {
    font-size: 14px;
  }
}

@media screen and (min-width: 820px) {
  .intro_author .author_avator {
    margin-right: 20px;
  }

  .intro_author_content h3 {
    font-size: 24px;
  }

  .intro_author_content span {
    font-size: 16px;
  }
}
